# Environments and Secrets
.env
.env*.local
*.env

# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Build outputs
dist/
build/
.next/
out/

# Database
*.sqlite3
*.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
Thumbs.db
[Dd]esktop.ini
.DS_Store
